@font-face {
  font-family: "CORBEL";
  src: url("../assets/fonts/CORBEL.woff") format("truetype");
}

@font-face {
  font-family: "beer-money";
  src: url("../assets/fonts/beer money.woff") format("truetype");
}
