@import "./nullstyle";
@import "./iconFonts";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700);

body {
  background-color: rgb(213, 225, 104);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.img {
  width: 200px;
  height: 100px;
}

h1 {
}
