@use "sass:math";

@import "./base/nullstyle";
@import "./base/iconFonts";
@import "./base/mixins";
@import "./base/constants";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700);

// Default Font
$fontFamily: "Poppins", sans-serif;
$fontSize: rem(13);

// break points
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1370;
$containerPadding: 30;
// Width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// break points
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

body {
  position: relative;
  background-color: #fff;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: 400;
  line-height: 153.8%; //20px
}

h1 {
  @include adaptiveValue("font-size", 38, 18);
  font-weight: 500;
  line-height: 132.5%;
}

h2 {
  font-size: rem(22);
  font-weight: 600;
  line-height: 33px;
}

h3 {
  font-size: rem(18);
  font-weight: 600;
  line-height: 140%;
}

h4 {
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.5;
}

h5 {
  font-size: rem(14);
  font-weight: 600;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
  //Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  @if ($maxWidthContainer>0) {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}

@import "./components/header";
@import "./components/slider";
@import "./components/all-products";

@import "./components/footer";
@import "./components/popap";
