.all-products {
  padding: rem(30) 0 rem(15) 0;
  @media (max-width: $mobileSmall) {
    padding: rem(15) 0;
  }
}
.all-products__container {
  display: grid;
  grid-template-columns: rem(240) 1fr;
  grid-template-areas:
    "adjusting-view adjusting-view"
    "aside cards"
    "products-button products-button";
  column-gap: rem(20);
  row-gap: rem(15);
  @media (max-width: $tablet) {
    grid-template-areas:
      "adjusting-view adjusting-view"
      "aside aside"
      "cards cards"
      "products-button products-button";
    row-gap: rem(25);
  }
}
.all-products__adjusting-view {
  grid-area: adjusting-view;
  display: flex;
  justify-content: flex-end;
  gap: rem(25);
  @media (max-width: $mobileSmall) {
    flex-direction: column;
  }
}

.adjusting-view {
}
.adjusting-view__button {
  padding: rem(5) rem(15);
  border: 2px solid #cacdd8;
  border-radius: 2px;
  font-size: rem(16);
  font-weight: 600;
  color: $lightGreenColor;
  line-height: 210%;
  transition: all 0.3s ease 0s;
  @media (max-width: $mobileSmall) {
    font-size: rem(20);
  }
}
.adjusting-view__button:hover {
  border: 2px solid $blueColor;
  color: $blueColor;
}
.adjusting-view__sorting {
  padding: rem(12) rem(6);
  border: 2px solid #cacdd8;
  border-radius: 2px;
  font-size: rem(16);
  font-weight: 600;
  line-height: 210%;
  cursor: pointer;
  @media (max-width: $mobileSmall) {
    font-size: rem(18);
  }
}
.sorting__option {
  font-weight: 600;
}
.all-products__aside {
  grid-area: aside;
}
.aside {
}
.aside__filters {
  padding: rem(10);
  @media (max-width: $tablet) {
    max-width: 767px;
    margin: 0 auto;
  }
}
.filters {
}
.filters__header {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(17);
}
.filters__title {
  margin-bottom: rem(10);
  text-align: center;
  @media (max-width: $tablet) {
    font-size: rem(24);
  }
}
.filters__button {
  padding: rem(8) rem(62);
  font-size: rem(14);
  font-weight: 600;
  color: $lightGreenColor;
  line-height: 1.5;
  border: 2px solid $lightGreenColor;
  border-radius: rem(50);
  transition: all 0.3s ease 0s;
  @media (max-width: $tablet) {
    padding: rem(20) rem(42);
  }
  @media (max-width: $mobileSmall) {
    padding: rem(15) rem(22);
    font-size: rem(20);
  }
}
.filters__button:hover {
  color: $blueColor;
  border: 2px solid $blueColor;
}
.filters__button_apply {
  width: 100%;
  background-color: $blueColor;
  border-color: $blueColor;
  color: #fff;
  @media (max-width: $tablet) {
    padding: rem(25) 0;
    font-size: rem(18);
  }
  @media (max-width: $mobileSmall) {
    padding: rem(15) 0;
  }
}
.filters__button_apply:hover {
  background-color: #1176dd;
  color: #fff;
}
.filters__body {
  margin-bottom: rem(20);
}
.filters__body li:not(:last-child) {
  margin-bottom: rem(20);
}
.filters__filter {
}
.filter_popular {
  display: flex;
  align-items: center;
}
.filter_popular :not(:last-child) {
  margin-right: rem(15);
}
.filter__title {
  margin-bottom: rem(10);
  @media (max-width: $tablet) {
    font-size: rem(20);
  }
}
.filter__select {
  width: 100%;
  padding: rem(8) rem(5);
  border: 1px solid #cacdd8;
  font-size: rem(18);
  cursor: pointer;
  @media (max-width: $tablet) {
    padding: rem(20) rem(5);
    font-size: rem(20);
  }
}
.filter__colors {
  display: flex;
}
.filter__colors div:not(:last-child) {
  margin-right: rem(15);
  @media (max-width: $tablet) {
    margin-right: rem(25);
  }
}
.filter__color {
  position: relative;
  width: rem(30);
  height: rem(30);
  @media (max-width: $tablet) {
    width: rem(40);
    height: rem(40);
  }
}
.filter__color-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 0;
  opacity: 0;
  cursor: pointer;
}
.filter__color-input:hover + .filter__color-button {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
.filter__color-input:checked + .filter__color-button {
  box-shadow: 0 0 10px $blueColor;
}
.filter__color-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.filter__color-checked-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}
.filter__color-checked-icon._active {
  display: block;
}
.filter__color-button_black {
  background-color: #000;
}
.filter__color-button_white {
  background-color: rgb(223, 223, 223);
}
.filter__color-button_green {
  background-color: rgb(53, 193, 53);
}
.filter__color-button_yellow {
  background-color: yellow;
}
.filter__slider-range {
  margin-bottom: rem(45);
  cursor: pointer;
}
.filter__slider-range_price {
}
.filter__slider-range_position {
}
.noUi-horizontal .noUi-handle {
  width: rem(20);
  height: rem(23);
  cursor: pointer;
  @media (max-width: $tablet) {
    height: rem(40);
    width: rem(35);
  }
  @media (max-width: $mobileSmall) {
    height: rem(35);
    width: rem(25);
  }
}
.noUi-target {
  height: rem(15);
  @media (max-width: $tablet) {
    height: rem(30);
  }
  @media (max-width: $mobileSmall) {
    height: rem(25);
  }
}
.noUi-horizontal .noUi-tooltip {
  bottom: -180%;
  @media (max-width: $tablet) {
    bottom: -100%;
  }
}
.noUi-tooltip {
  @media (max-width: $tablet) {
    font-size: 18px;
  }
}
.filter__input {
  width: rem(20);
  height: rem(20);
  cursor: pointer;
  @media (max-width: $tablet) {
    width: rem(30);
    height: rem(30);
  }
}
.filter__input_popular {
}
.aside__advertisement {
  display: flex;
  flex-direction: column;
  @media (max-width: $tablet) {
    display: none;
  }
}
.aside__advertisement div:not(:last-child) {
  margin-bottom: rem(20);
}
.aside__advertisement-item {
  position: relative;
  height: rem(350);
}
.aside__advertisement-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.aside__advertisement-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.aside__advertisement-link {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  font-size: rem(18);
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.aside__advertisement-link:hover {
  text-decoration: underline;
}
.all-products__cards {
  grid-area: cards;
}
// cards ---------------------------------------------------------
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  grid-auto-rows: min-content;
  gap: rem(15);
  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    row-gap: rem(30);
  }
}
.cards__card {
}
.card {
  padding: rem(15) rem(15) rem(25) rem(10);
  background-color: #f7f7ff;
  border-radius: rem(5);
  transition: box-shadow 0.3s;
}
.card._active {
  border: 2px solid #f5870a8b;
  box-shadow: 0px 5px 10px #f5870a77;
}
.card:hover {
  background-color: #f5f5ff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}
.card__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__container li:not(:last-child) {
  margin-bottom: rem(5);
}
.card__availability {
  display: flex;
  color: $mainColor;
}
.card__availability :not(:last-child) {
  margin-right: rem(10);
}
.card__image-block {
  position: relative;
  width: 77.8%;
  padding-bottom: 77.8%;
  margin: 0 auto;
}
.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card__position {
}
.position {
  display: flex;
  justify-content: space-between;
  color: $mainColor;
}
.position__stars {
  display: flex;
  margin-right: rem(10);
}
.position__stars :not(:last-child) {
  margin-right: rem(4);
}
.position__star {
  color: #cacdd8;
}
.position__star_yellow {
  color: #e9a426;
}
.position__text_green {
  color: #78a962;
}
.position__text_red {
  color: #c94d3f;
}
.card__main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-weight: 500;
  margin-right: rem(10);
}
.position__year {
  color: $lightGreenColor;
}
.card__description {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $mainColor;
}
.card__purchase-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__add-to-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(50);
  height: rem(50);
  background-color: $lightGreenColor;
  border-radius: 50%;
  font-size: rem(22);
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}
.card__add-to-basket:hover {
  background-color: $blueColor;
  transition: background-color 0.1s ease-in;
}
.card__add-to-basket._active {
  background-color: #f5870a;
}
.card__add-to-basket._active:hover {
  background-color: #f5210a;
}
.card__add-to-basket._active:hover {
}
.card__add-to-basket._empty {
  background-color: #f5210a;
}

.card__prices {
}
.card__price {
  font-size: rem(18);
  font-weight: 600;
  line-height: 140%;
  color: $mainColor;
}
.card__price_old {
  font-size: rem(14);
  font-weight: 400;
  line-height: 140%;
  color: #666;
  text-decoration-line: line-through;
}
// pagination ----------------------------------------------------------------
.all-products__button {
  grid-area: products-button;
  padding: 1.6rem 0;
  background-color: $blueColor;
  border-radius: 3.125rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  transition: all 0.1s;
  visibility: hidden;
  opacity: 0;
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    margin: 0 auto;
    font-size: 0.9rem;
    padding: 1rem 7rem;
  }
}
.all-products__button._active {
  visibility: visible;
  opacity: 1;
}
.all-products__button._active:hover {
  background-color: #1176dd;
}

.noUi-connect {
  transition: all 0.1s;
}
