.footer {
  padding: rem(37) 0 rem(17) 0;
  background-color: $mainColor;
  color: #fff;
}
.subscribe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: rem(20);
}
.subscribe :not(:last-child) {
  margin-bottom: rem(20);
}
.subscribe__info {
  margin-right: rem(20);
}
.subscribe__text {
  @include adaptiveValue("font-size", 16, 12);
  font-weight: 300;
  line-height: 132.5%;
}
.footer__form-input {
  @include adaptiveValue("width", 391, 280);
  @media (max-width: $mobileSmall) {
    width: rem(250);
  }
  margin-right: rem(15);
  padding: rem(10);
  background-color: $mainColor;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: rem(14);
  font-weight: 300;
  color: #fff;
  line-height: 1.43;
}
.footer__form-button {
  padding: rem(15) rem(40);
  background-color: $blueColor;
  border-radius: rem(50);
  font-size: rem(14);
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
}
.footer__form-button:hover {
  background-color: #1176dd;
}
.footer__navigation {
  margin-bottom: rem(10);
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
}
.footer__menu li:not(:last-child) {
  @include adaptiveValue("margin-right", 30, 15);
  @media (max-width: $mobileSmall) {
    margin: 0 rem(10) rem(10) 0;
  }
}
.footer__resources {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobileSmall) {
    flex-direction: column;
    align-items: center;
    div {
      margin-bottom: rem(15);
    }
  }
  padding-top: rem(15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__networks-link {
  margin-right: rem(10);
}
.footer__networks-link :not(:last-child) {
  margin-right: rem(10);
}
.footer__link {
  font-size: rem(18);
  @media (max-width: $mobileSmall) {
    font-size: rem(26);
  }
  color: $greenColor;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: $blueColor;
}
.footer__pay-methods {
  margin-right: rem(10);
}
.footer__pay-methods :not(:last-child) {
  margin-right: rem(3);
}
.footer__pay-methods-icon {
  width: rem(31);
  height: rem(21);
}
.footer__copyright {
  font-size: rem(12);
  font-weight: 500;
  line-height: 132.5%;
}

@media (max-width: $tablet) {
  .subscribe__info {
    margin-right: rem(10);
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: $mobile) {
  .subscribe {
    justify-content: center;
  }
}
