.noUi-horizontal .noUi-handle {
  width: rem(20);
  height: rem(23);
  cursor: pointer;
  @media (max-width: $tablet) {
    height: rem(40);
    width: rem(35);
  }
  @media (max-width: $mobileSmall) {
    height: rem(35);
    width: rem(25);
  }
}
.noUi-target {
  height: rem(15);
  @media (max-width: $tablet) {
    height: rem(30);
  }
  @media (max-width: $mobileSmall) {
    height: rem(25);
  }
}
.noUi-horizontal .noUi-tooltip {
  bottom: -180%;
  @media (max-width: $tablet) {
    bottom: -100%;
  }
}
.noUi-tooltip {
  @media (max-width: $tablet) {
    font-size: 18px;
  }
}
.noUi-connect {
  transition: all 0.1s;
}
