.popular-items {
  padding-bottom: rem(20);
}
.slider {
  position: relative;
  width: 100%;
  height: 312px;
  @media (max-width: $tablet) {
    height: 200px;
  }
  overflow: hidden;
}
.slider__track {
  display: flex;
  height: 100%;
  transition: 0.2s ease;
}
.slider__slide {
}
.slider__item {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.slider-btns {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: antiquewhite;
  color: #444444;
  padding: 10px 30px;
}
.slider__buttons {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  transform: translate(0, -50%);
}
.slider__button {
  width: rem(40);
  height: rem(40);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: $mainColor;
}
.slider__button:hover {
  box-shadow: 0 0 8px rgb(255, 255, 255, 0.35);
}
.slider__button:disabled {
  background-color: rgba(255, 255, 255, 0.4);
}
