$mainColor: #000000;
$greenColor: #666666;
$lightGreenColor: #a2a6b0;
$blueColor: #0156ff;

$searchIconURL: url("../assets/images/svg/search.svg");
$closeSearchIconURL: url("../assets/images/svg/close-search.svg");
